@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url('images/background.jpg') no-repeat center/cover;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 2%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  position: sticky;
  top: 0;
  color: #00d8ff;
  z-index: 1000;
}

section {
  position: relative;
}

section::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-container {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
  display: flex;
}

.main-container .card {
  position: relative;
  width: 260px;
  height: 400px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  margin: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px) saturate(180%);
}

.main-container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  transition: 0.5s;
}

.main-container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.main-container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  opacity: 0;
  transition: .5s;
  transition-delay: calc(0.1s * var(--1));
}

.main-container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.main-container .card .sci li a {
  color: #fff;
  font-size: 24px;
}

.main-container .card:hover .content {
  opacity: 1;
}

.main-container .card .content .contentBox h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.main-container .card .content .contentBox h3 span{
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.main-container .card .content .imgBox {
  display: flex;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.main-container .card .content .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  height: 130px;
  width: auto;
  align-items: center;
  justify-content: center;
}



nav a {
  margin: 0 14px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #93c5fd;
}


.main-container {
  margin-top: 110px;
  padding: 20px 20px;
}


.intro-section h1 {
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 0;
  color: #00d8ff;

}

.intro-section p {
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  opacity: 0.95;
}